
EventMessenger/RESTServer/appsettings.Development.json

EventMessenger/RESTServer/appsettings.json

EventMessenger/RESTServer/bin/Debug/netcoreapp3.1/appsettings.Development.json

EventMessenger/RESTServer/bin/Debug/netcoreapp3.1/appsettings.json
